@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400&display=swap');

html{ font-size: 19px;}

body {
 font-family: 'Noto Serif KR', serif;
 font-size: 1rem;
 line-height: 1.8;
 padding-top: 10px;
 padding-bottom: 10px;
 background-color: white;
 padding: 30px;
 width: 48rem;
 margin-right:3em
}


.simple {
 background-color: #d8f2e9;
 border: none;
 line-height: 1.5rem;
 font-size: 1rem;
 overflow-x: hidden;
 padding: 5px 5px 5px 1rem;
 margin: 1.5rem 1rem 1.5rem 1rem;
 border-radius: 10px;
 margin: 5px 5px 5px 0px;
}


A:link { color:  #000084; }
A:visited { color:  #000084; }
A:active { color:  #000084; }
A:hover { color: #AAAAAA; }

A.bare { text-decoration: none; border-style: none; }

h1 {
  font-size: 2rem;
  font-weight: bold;
  border-bottom-style: solid;
}

h2 {
 font-size: 1.3rem;
 font-weight: bold;
 border-bottom: 1px solid #cccccc;
 margin-top: 3rem;
 margin-bottom: 0.2rem;
}

h3 {
 font-size: 1.1rem;
 font-style: italic;
 margin-top: 0.5rem;
 margin-bottom: 0rem;
}

.fancy{
  padding-right: 0.5em;
  text-indent: -0.7rem;
  font-size: 25px;
  color: CornflowerBlue;
  font-weight: bold;
  text-shadow: -4px 2px 7px #504747;
  font-style: italic;
  font-family: sans-serif;
}

h4 {
 font-size: 1.1rem;
 font-weight: bold;
 margin-top: 0.5rem;
 margin-bottom: 0rem;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
}

pre {
  font-size: 0.8rem;
}


table {
  padding: 1em;
  border-collapse: collapse;
}

table tr td {
    border: 1px solid #cccccc;
    margin: 0;
    padding: 10em 10em 10em;  }
    table tr th :first-child, table tr td :first-child {
      ma3emgin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

.noborder, .noborder tr, .noborder th, .noborder td {
  border: none;
  margin: 0;
  padding: 0.3em;
}


table.RM {
  border-style:solid;
  border-collapse:collapse;
  border-width:2pt;
  border-color: #000084;
}

table.RM tr {
    vertical-align: top;
}

table.RM td {
    border-style:solid;
    border-collapse:collapse;
    border-width:2pt;
    border-color: #000084;
}

.red { color: red; }
.green { color: green; }
.gray { color: #777777; }
.brown { color: #996633; }


.ibox{
  border-style:double;
  border-collapse:collapse;
  border-width:4pt;
  border-color: #000084;
  font-size: 1.5rem;
  padding: 10px 10px 10px 10px;
}

.color-overlap-right {
  background-color: #d93;
  margin-right: -25%;
}

.right {
  text-align: right;
}

.fl {
  margin-left: 0;
  padding-left: 1em;
}

.fl li {
  margin-left: 0;
  padding-left: 1em;
  list-style-type: none;
  counter-increment: ol-item;
  display: table-row;
}

.fl li:before {
  display: table-cell;
  content: counter(ol-item) "     ";
  padding-right: 0.5em;
  text-indent: -0.3rem;
  font-size: 25px;
  color: CornflowerBlue;
  font-weight: bold;
  text-shadow: -4px 2px 7px #504747;
  font-style: italic;
  font-family: sans-serif;
}

.bulb {
  list-style: "💡 ";
  list-style-position: outside;
}

.header  {
  text-align: center;
  font-size: 0.8em;
}

@page{
  size:letter;
  margin-top:1cm;
  margin-bottom: 1.5cm;
}

@media print
{
  .page-break	{display:block; page-break-after: always; }
}


@media screen {
  div.header  {
    display: none;
  }
}
